/* atom theme */
$atom-background-a: rgb(40, 44, 52);
$atom-background-b: rgb(33, 37, 43);
$atom-border: rgb(63, 66, 72);
$atom-scrollbar: rgb(49, 54, 65);
$atom-highlight: rgb(44, 49, 60);
$atom-drag: rgb(136, 141, 152);
$atom-font-a: rgb(234, 234, 234);
$atom-font-b: rgb(204, 204, 204);
$atom-font-c: rgb(171, 178, 191);
$atom-grey: rgb(127, 132, 142);
$atom-red: rgb(239, 89, 111);
$atom-orange: rgb(209, 154, 102);
$atom-yellow: rgb(229, 192, 123);
$atom-green: rgb(137, 202, 120);
$atom-cyan: rgb(43, 186, 197);
$atom-blue: rgb(97, 175, 239);
$atom-purple: rgb(213, 95, 222);
$atom-input: rgb(29, 31, 35);
$atom-select: rgb(33, 37, 43);
$atom-button-a: rgb(64, 71, 84);
$atom-button-a-hover: rgb(77, 85, 101);
