@import 'atom.scss';

/* default color theme */
$color-background-a: $atom-background-a;
$color-background-b: $atom-background-b;
$color-border: $atom-border;
$color-scrollbar: $atom-scrollbar;
$color-highlight: $atom-highlight;
$color-drag: rgb(176, 184, 201);
$color-font-a: $atom-font-a;
$color-font-b: $atom-font-b;
$color-font-c: $atom-font-c;
$color-white: $atom-font-a;
$color-black: $atom-background-b;
$color-grey: $atom-grey;
$color-red: $atom-red;
$color-orange: $atom-orange;
$color-yellow: $atom-yellow;
$color-green: $atom-green;
$color-cyan: $atom-cyan;
$color-blue: $atom-blue;
$color-purple: $atom-purple;
$color-input: $atom-input;
$color-select: $atom-select;
$color-button-a: $atom-button-a;
$color-button-a-hover: $atom-button-a-hover;



/* layout offset */
$custom-title-height: 30px;
$main-ticker-min-height: 80px;
$main-ticker-assets-width: 540px;
$main-order-book-head-height: 30px;
$main-standardprice-min-height: 36px;
$main-order-min-height: 180px;
$main-order-history-width: 400px;
$main-order-form-width: 350px;
$main-order-forum-width: 425px;
$main-order-forum-height: 30px;
$main-order-notice-height: 21px;
$main-settings-width: 525px;
$board-bot-width: 350px;
$board-bot-height: 225px;
$board-bot-header-height: 30px;
$board-bot-footer-height: 35px;



/* scrollbar */
$scrollbar-width: 10px;
$scrollbar-height: 10px;
$scrollbar-radius: 3px;
$scrollbar-button-width: 0;
$scrollbar-button-height: 0;
